<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.devifish.readme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="cn.devifish.readme.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="cn.devifish.readme.view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.devifish.readme.view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cn.devifish.readme.view.SearchActivity"
            android:label="@string/search"
            android:parentActivityName="cn.devifish.readme.view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cn.devifish.readme.view.InfoActivity"
            android:label="@string/info"
            android:parentActivityName="cn.devifish.readme.view.MainActivity" />
        <activity
            android:name="cn.devifish.readme.view.DetailActivity"
            android:label="@string/book_detail"
            android:parentActivityName="cn.devifish.readme.view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cn.devifish.readme.view.ReadActivity"
            android:parentActivityName="cn.devifish.readme.view.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"/>

    </application>

</manifest>